@page "/counter"

@using iDent.App.Services;
@using iDent.ModelLibrary.Models.Local

@inject IIDentService _identService

<EditForm Model="@identity" OnSubmit="@HandleSubmit">

    <h1>My Profile</h1>
    <p>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Identity Number:</label>
                <InputText id="idNumber" @bind-Value="identity.IdentityNumber" class="form-control" placeholder="12-1234567-X89" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">First Name(s):</label>
                <InputText id="firstname" @bind-Value="identity.FirstNames" class="form-control" placeholder="First Names" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Last Name:</label>
                <InputText id="lastname" @bind-Value="identity.LastName" class="form-control" placeholder="Last Names" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Date of Birth:</label>
                <InputDate id="dob" @bind-Value="identity.DOB" class="form-control" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Mobile Number:</label>
                <InputText id="mobilenumber" @bind-Value="identity.MobileNumber" class="form-control" placeholder="07XXXXXXXX" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Email:</label>
                <InputText id="email" @bind-Value="identity.Email" class="form-control" placeholder="Email" required="true" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Address:</label>
                <InputText id="email" @bind-Value="identity.Address" class="form-control" placeholder="1234 Main St..." required="true" />
            </div>
        </div>
    </p>
    <button type="submit" class="btn btn-primary">Update Details</button>
</EditForm>

@code {
    private IdentityRequest identity = new();

    private async Task HandleSubmit()
    {
        try
        {
            var result = await _identService.AddIdentityAsync(identity);
        }
        catch (Exception ex)
        {

        }
    }
}