@page "/counter"

<EditForm Model="@exampleModel" OnSubmit="@HandleSubmit">
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Email:</label>
                <InputText id="name" @bind-Value="exampleModel.Name" />
            </div>
        </div>
    </p>
    <p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Email:</label>
                <InputText id="name" @bind-Value="exampleModel.Name" />
            </div>
        </div>
    </p>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private ExampleModel exampleModel = new();

    private void HandleSubmit()
    {
        
    }

    public class ExampleModel
    {
        public string? Name { get; set; }
    }
}